@import users.Users.UserWithCocktails

@(users: Seq[UserWithCocktails])

<h1>Welcome to Cocktail Randomizer for Grand America !!!</h1>

<p>If you want to register another User, please follow the <a href='@routes.Application.addUser'>link</a></p>

<hr>

<p>Drunken boyz:</p>
<table><tr><th>Name</th><th>Register Date</th><th>Drunk</th></tr>
@for(user <- users) {
  <tr><td>@user.name</td><td>@user.createdAt.toString("dd.MM.yyyy")</td><td>@user.cocktailNumber</td></tr>
}
</table>
<hr>

<h2>Create new <a href='@routes.Application.buildCocktails'>cocktail pool</a></h2>
